/* Do not delete this */
.section-selector-1 {
  background-color: var(--gray-200);
}
.col-3 h3 {
  margin-bottom: 16px;
}

/* Add your custom CSS below */
header.theme-light hl span.highlight {
  color: var(--green-500);
}
header.theme-light .container-btn a.btn:nth-child(l):link,
header.theme-light .container-btn a.btn:nth-child(l):visited {
  color: var(--green-500);
}

header.theme-light .container-btn a.btn:nth-child(l):focus,
header.theme-light .container-btn a.btn:nth-child(l):hover,
header.theme-light .container-btn a.btn:nth-child(l):active {
  color: var(--white-000);
}

header.theme-light .container-btn a.btn:nth-child(l):link,
header.theme-light .container-btn a.btn:nth-child(l):visited {
  border-color: var(--green-500);
}

header.theme-light .container-btn a.btn:nth-child(l):focus,
header.theme-light .container-btn a.btn:nth-child(l):hover,
header.theme-light .container-btn a.btn:nth-child(l):active {
  border-color: var(--green-500);
}

header.theme-light .container-btn a.btn:nth-child(l):focus,
header.theme-light .container-btn a.btn:nth-child(l):hover,
header.theme-light .container-btn a.btn:nth-child(l):active {
  background-color: var(--green-500);
}

header h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

header h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
